.my-movies {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.my-movies h2 {
  margin-bottom: 14px;
}

.my-movies span {
  font-size: 18px;
}

.my-movies ul {
  width: 720px;
}

.my-movies ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.my-movies div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mymovies-btn a {
  margin-right: 0.5rem;
}

.mymovies-btn a,
.mymovies-btn button {
  text-decoration: none;
  cursor: pointer;
  background-color: #124070;
  padding: 0.5rem 2rem;
  color: #fff;
  border-radius: 4px;
  border: 0;
  font-size: 1rem;
}
